body {
    background-color:black;
    font-family: "Cabin Condensed", sans-serif;
}

h1 {
    color: yellow;
    opacity: .80;
}

h2 {
    text-align: center;
    bottom: 15%;
    position: relative;
}

h3 {
    font-family: "Geostar Fill", monospace;
}

#pitch {
    height: 400px;
    width: 400px;
    transition: all 0.5s;
    margin: 0px;
}

.box {
    float:left;
    opacity: .60; 
}

.color_buttons {
    width: 200px;
    height: 200px;
    position: relative;
    border: 2px black solid;

}

#box_red {
    background-color: red;
    border-top-left-radius: 100%;
}

#box_blue {
    background-color: blue;
    border-top-right-radius: 100%;
}

#box_orange {
    background-color: orange;
    border-bottom-left-radius: 100%;
    clear:left;
}

#box_green {
    background-color: green;
    border-bottom-right-radius: 100%;
}

#scorecard {
    background-color: white;
    opacity: .55;
    color: black;
    height: auto;
    width: 100%;
    display: none;
    padding-left: 20px;
}

#box_start {
    background-color: white;
    opacity: .55;
    color: black;
    height: 100px;
    width: 100%;
}
